/**
animations for component mount/unmount
*/

.analyzer-enter {
    opacity: 0;
}

.analyzer-enter-active {
    opacity: 1;
    transition: opacity 1s;
}

.analyzer-exit {
    opacity: 1;
}

.analyzer-exit-active {
    opacity: 0;
    transition: opacity 1s;
}

/*
 * uploading image section
 */

.upload-image-container {
    width: 500px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.image-container {
    width: 100%;
    height: 100%;
    border: 4px dashed coral;
    position: absolute;
    padding: 5px;
}

#upload-image {
    max-width: 100%;
    max-height: 100%;
}

.upload-image-container input {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.upload-label {
    color: white;
    font-size: 24px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}

.upload-icon {
    color: white;
    font-size: 62px;
    cursor: pointer;
    margin-top: 15px;
}

#image-file {}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.button-title {
    font-size: 0;
}

.arc-reactor {
    height: 0;
    width: 0;
}

/*
 * characters
 */

.captain_america,
.iron_man {
    position: fixed;
    bottom: 0;
    transition: transform 1s ease-in;
    .img-wrapper {
        transition: transform 1s ease-out;
    }
}

.captain_america img,
.iron_man img {
    filter: brightness(0) blur(4px);
    transition: filter 1s ease-in;
    animation: sidestep 4s linear infinite alternate;
}

.captain_america {
    left: 0;
}

.iron_man {
    right: 0;
}

.captain_america.active {
    .img-wrapper {
        transform: scale(1.2);
    }
    img {
        filter: brightness(1) blur(0);
    }
    .glow-left {
        box-shadow: 0 0 50px 10px #fff, 0 0 80px 90px #6a00ff, 0 0 140px 40px navy;
        animation: blue-flicker 6s infinite alternate;
        height: 100vh;
    }
}

.iron_man.active {
    .img-wrapper {
        transform: scale(1.2);
    }
    img {
        filter: brightness(1) blur(0);
    }
    .glow-right {
        box-shadow: 0 0 50px 15px #fff, 0 0 80px 80px firebrick, 0 0 100px 80px crimson;
        animation: red-flicker 6s infinite alternate;
        height: 100vh;
    }
}

.glow-left {
    position: fixed;
    height: 0;
    left: 30px;
    top: 0;
    transition: height 2s ease-out;
}

.glow-right {
    position: fixed;
    height: 0;
    right: 70px;
    top: 0;
    transition: height 2s ease-out;
}

@keyframes blue-flicker {
    0% {
        box-shadow: 0 0 40px 15px #fff, 0 0 100px 90px #6a00ff, 0 0 140px 40px navy;
    }
    20% {
        box-shadow: 0 0 40px 15px #fff, 0 0 120px 90px #6a00ff, 0 0 120px 30px navy;
    }
    40% {
        box-shadow: 0 0 40px 15px #fff, 0 0 150px 80px #6a00ff, 0 0 180px 20px navy;
    }
    60% {
        box-shadow: 0 0 40px 15px #fff, 0 0 110px 90px #6a00ff, 0 0 200px 60px navy;
    }
}

@keyframes red-flicker {
    0% {
        box-shadow: 0 0 50px 15px #fff, 0 0 100px 40px crimson, 0 0 80px 90px firebrick, 0 0 100px 40px #a11e18;
    }
    20% {
        box-shadow: 0 0 50px 15px #fff, 0 0 100px 40px crimson, 0 0 90px 90px firebrick, 0 0 120px 90px #a11e18;
    }
    40% {
        box-shadow: 0 0 50px 15px #fff, 0 0 100px 40px crimson, 0 0 110px 100px firebrick, 0 0 130px 110px #a11e18;
    }
    60% {
        box-shadow: 0 0 50px 15px #fff, 0 0 100px 40px crimson, 0 0 140px 110px firebrick, 0 0 140px 130px #a11e18;
    }
}

@keyframes sidestep {
    0% {
        transform: translateX(-2px);
    }
    20% {
        transform: translateX(1px);
    }
    60% {
        transform: translateX(-1px);
    }
    100% {
        transform: translateX(1px);
    }
}