/**
animations for component mount/unmount
*/

.analyzer-enter {
    opacity: 0;
}

.analyzer-enter-active {
    opacity: 1;
    transition: opacity 0.2s;
}

.analyzer-exit {
    opacity: 1;
}

.analyzer-exit-active {
    opacity: 0;
    transition: opacity 0.2s;
}

.upload-image-container {
    width: 500px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    width: 100%;
    height: 100%;
    border: 4px dashed coral;
    position: absolute;
    padding: 5px;
}

#upload-image {
    max-width: 100%;
    max-height: 100%;
}

.upload-image-container input {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.upload-label {
    color: white;
    font-size: 24px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.upload-icon {
    color: white;
    font-size: 62px;
    cursor: pointer;
    margin-top: 15px;
}

#image-file {}