* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: radial-gradient(#fc4445, #C93F3F);
    min-height: 100vh;
}

.intro-enter {
    opacity: 0;
}

.intro-enter-active {
    opacity: 1;
    background-color: black;
    transition: opacity 0.2s;
}

.intro-exit {
    opacity: 1;
}

.intro-exit-active {
    opacity: 0;
    transition: opacity 0.2s;
}