* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fc4445;
}

.intro-enter {
    opacity: 0;
}

.intro-enter-active {
    opacity: 1;
    background-color: black;
    transition: opacity 0.2s;
}

.intro-exit {
    opacity: 1;
}

.intro-exit-active {
    opacity: 0;
    transition: opacity 0.2s;
}